<div class="pure-material-textbox">
  <input
    type="email"
    class="pure-material-textbox-input"
    [attr.id]="id"
    [attr.name]="entity"
    [attr.min]="min"
    [attr.maxLength]="maxlength"
    [attr.ErrorMessage]="message"
    [attr.required]="_required.toString().toLowerCase()"
    [attr.label]="label"
    (input)="onInputChange($event)"
    [disabled]="_disabled"
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>{{ label }} <span [class]="spanClass">*</span></label>
</div>
