<mat-card>
  <mat-card-header class="mat-card-header mat-primary rounded-top">
    <!-- <mat-card-title class="text-center">Institution</mat-card-title> -->
    <mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)" headerPosition="below">
      <mat-tab label="Institution"></mat-tab> <!-- Empty content here -->
      <mat-tab label="Change Logo"></mat-tab>
    </mat-tab-group>
  </mat-card-header>
  <div class="scrolldiv">
    <mat-card-content>
      <form id="test">
        <ng-container [ngSwitch]="selectedTabIndex">
          <div *ngSwitchCase="0">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="institutionName" label="InstitutionName" [isrequired]="true"
                  [(modelValue)]="request.institutionName"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="address1" label="Address1" [isrequired]="true"
                  [(modelValue)]="request.address1"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="address2" label="Address2" [isrequired]="true"
                  [(modelValue)]="request.address2"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="pincode" label="Postal Code" [isrequired]="true" [(modelValue)]="request.pincode" [isNumberOnly]="true"
                  maxlength="6" (keydown)="onValueChange()"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-select entity="postofficeName" label="Post Office Name"  apiUrl="/Common/GetPostOffice"
                  [isrequired]="true" [isMultiSelect]="false" [(modelValue)]="request.postofficeName"
                  valueAndname="officeName,officeName" (getSelectedOptions)="onModelValueChanges($event)" [(parameter)]="postalrequest"
                  [(triggerAPI)]="triggerApi"></app-select>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="districtname" label="District" [isrequired]="true"
                  [(modelValue)]="request.districtname"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="stateName" label="State" [isrequired]="true"
                  [(modelValue)]="request.stateName"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-email entity="emailid" label="Email Id" [isrequired]="true"
                  [(modelValue)]="request.emailid"></app-email>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="mobileNumer" label="Mobile No" maxlength="10" [isrequired]="true" [isNumberOnly]="true"
                  [(modelValue)]="request.mobileNumer"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="alternateMobileNumer" label="Alternate Mobileno" maxlength="10" [isrequired]="true" [isNumberOnly]="true"
                  [(modelValue)]="request.alternateMobileNumer"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="landline" label="Landline" [isrequired]="true" [isNumberOnly]="true"
                  [(modelValue)]="request.landline"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="institutionType" label="Institution Type" [isDisabled]="true"
                  [(modelValue)]="request.institutionType"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="staffIdprefix" label="Staff-ID Prefix" [isrequired]="true"
                  [(modelValue)]="request.staffIdprefix"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="entredBy" label="Entred By" [isDisabled]="true"
                  [(modelValue)]="request.entredBy"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="modifiedby" label="Modified By" [isDisabled]="true"
                  [(modelValue)]="request.modifiedBy"></app-textbox>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <app-textbox entity="modifieddate" label="Modified Date" [isDisabled]="true"
                  [(modelValue)]="request.modifiedDate"></app-textbox>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center">
                <app-button label="Save" apiUrl="/Management/CMS/UpdateInstitutionDetails" [parameter]="request"
                  (apiResponseChange)="onRespons($event)"></app-button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="1">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                Logo With Text (383x75)
                <br />
                <img alt="" id="IMGLogoWithText" CssClass="img-responsive" [src]="logoWithText" />

              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                Logo Only (100x100)<br />
                <img alt="" id="IMGLogoOnly" CssClass="img-responsive" [src]="logo" />
                <br />

              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                Fav Icon (32x32)<br />
                <img alt="" id="IMGFavIcon" CssClass="img-responsive" [src]="favIcon" />


              </div>

            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <input class="form-control" type="file" id="FileUploadLogoWithText">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                <input class="form-control" type="file" id="FileUploadLogoOnly">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                <input class="form-control" type="file" id="FileUploadFavIcon">
              </div>
            </div>
          </div>

        </ng-container>
      </form>
    </mat-card-content>
  </div>
</mat-card>
