<mat-form-field class="MatInput">
  <mat-label>{{ label }} <span class="text-danger" *ngIf="_required">*</span></mat-label>
  <mat-select [attr.required]="_required" [attr.ErrorMessage]="message" #input [attr.name]="entity"
    [disabled]="_disabled" [multiple]="_Multiple" [value]="_Multiple ? _modelValueArray : _modelValue" [attr.aria-selectedValue]="_modelValue"
    (valueChange)="onSelectChange($event)">
    <mat-select-trigger *ngIf="_Multiple" [matTooltip]="selectedText" [matTooltipShowDelay]="500"
      [matTooltipHideDelay]="3000" [matTooltipDisabled]="!_Multiple" matTooltipClass="custom-tooltip">
      {{ selectedTextArray[0] || '' }}
      @if (selectedTextArray.length > 1) {
      <span class="additional-selection">
        (+{{ selectedTextArray.length - 1 }} {{ selectedTextArray.length === 2 ? 'other' : 'others' }})
      </span>
      }
    </mat-select-trigger>
    <mat-option *ngIf="_isFirstOptionEmpty && !_Multiple"></mat-option>
    <ng-container *ngIf="arrayDate.length > 0">
      <mat-option *ngFor="let item of arrayDate" [value]="item.value">{{ item.text }}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
