<mat-toolbar class="mat-primary">
  <button mat-icon-button class="example-icon" (click)="toggleDrawer()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><img id="LayoutImageLogo" height="30" width="200" alt="Logo" [src]="src"></span>
  <span class="example-spacer"></span>
  <span><input type="search" class="form-control focus-ring focus-ring-primary" placeholder="Search..."
      id="IDLayoutSerach" aria-label="Search"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matSuffix mat-icon-button (click)="darkMode()">
    <mat-icon tabindex="0">{{darkmode ? 'brightness_2' : 'brightness_7'}}</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button [matMenuTriggerFor]="login">
    <small class="text-small"><label>{{ userName }}</label></small>
    <img class="rounded-circle" alt="" id="LayoutUserImage" tabindex="0" src="assets/FemaleUser.png" height="30"
      width="30" />
  </button>
  <mat-menu #login="matMenu">
    <button mat-menu-item (click)="Logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
