.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
mat-icon {
  cursor: pointer;
}
.example-container {
  /* height: 400px; */
  max-width: 100%;
  overflow: auto;
}
.mat-row{
  height: 10px !important;
}
