<div class="pure-material-textbox">
  <input type="text" list="fruits" [class]="inputClass" [attr.id]="id" [attr.name]="entity" [attr.min]="min"
    (input)="onInputChange($event)" [attr.maxLength]="maxlength" [attr.ErrorMessage]="message"
    [attr.required]="_required.toString().toLowerCase()" [attr.aria-label]="label" tabindex="0" [value]="setModelvalue"
    [disabled]="_disabled" (input)="handleInput($event)"  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label [attr.for]="entity">{{ label }} <span [class]="spanClass">*</span></label>
  <ul id="autocomplete-list" tabindex="0" class="ui-menu ui-widget-content" >
    <li class="ui-menu-item" (focus)="onFocus($event, i)" (keydown)="onKeyDown($event)"  *ngFor="let fruit of filteredFruits; let i = index" [class.active]="i === activeIndex" (click)="selectFruit(fruit)">
    <div class="ui-menu-item-wrapper ui-state-active" tabindex="0">{{ fruit }} </div>
    </li>
  </ul>
</div>
