<div class="pure-material-textbox">
  <input
    type="Password"
    class="pure-material-textbox-input"
    [attr.id]="id"
    [attr.name]="entity"
    [attr.min]="min"
    [attr.maxLength]="maxlength"
    [attr.ErrorMessage]="message"
    [attr.required]="required.toString().toLowerCase()"
    [attr.label]="label"
  />
  <span class="highlight"></span>
  <span class="bar"></span>
  <label>{{ label }} <span [class]="spanClass">*</span></label>
  <i class="fa fa-eye-slash float-end pure-material-textbox-password-icon cursor-pointer " tabindex="0"></i>
</div>
