<div title="ErrorTag">
  <div class="Error-Bar" tabindex="0">
      <button type="button" class="icon-button" tabindex="-1">
          <i class="fas fa-bell"></i>
          <span class="icon-button-badge">{{ iconButtonBadgeValue }}</span>
      </button>
  </div>
  <div class="card d-none Error-Notification-Card position-absolute z-index-2">
      <div class="card-header bg-danger text-white px-1 py-1">
          Error Notification <button type="button" class="btn-close btn-close-white float-end Error-Bar-Close" aria-label="Close"></button>
      </div><div class="scrolldiv">

          <div class="card-body px-1 py-1" id="Errorbody">
          </div>
      </div>
  </div>
</div>
