/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import './assets/MaterialStyle/textbox.scss';
@import './assets/MaterialStyle/select.scss';
@import './assets/CSS/ErrorTag.scss';
 @import './assets/CSS/bootstrap.scss';
 @import './assets/CSS/MatInput.scss';
 @import './assets/CSS/scrollbar.scss';
 //@import './assets/CSS/theme.scss';
 @import "@angular/material/prebuilt-themes/indigo-pink.css";
.dropdown-toggle {
	&::after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		border-top: 0;
		border-right: 0 !important;
		border-bottom: 0 !important;
		border-left: 0 !important;
	}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-card-header {
  display: flex;
  padding: 6px 6px 0 !important;
}
