.login-card {
  max-width: 400px;
  margin: 1em auto;
  height: calc(100vh - 100px);
  border-radius: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

/* mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 8px;
} */
.mat-card-header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-avatar {
  width: 100px; /* or the size you want */
  height: 100px; /* or the size you want */
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow:
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff;
}
