<div class="body">
  <div class="login-div " role="main">
    <div class="logo"></div>
    <div class="title">
      <h2>CMS Admin</h2>
    </div>
    <div class="sub-title">V 3.0</div>
    <div class="m-auto">
      <form id="login-form">
        <div class="row">
          <div class="col-12">
            <app-textbox entity="Name" label="Name"  [required]="false" [setModelvalue]="LoginRequest.userName" (getModelValue)="LoginRequest.userName=$event"   [showClearAll]="true"></app-textbox>
          </div>
          <div class="col-12">
            <app-password entity="Password" label="Password"  (getModelValue)="LoginRequest.password=$event" ></app-password>
          </div>
          <div class="col-12">
            <helper-textbox-password entity="Password" label="Password" [required]="true"  (getModelValue)="LoginRequest.password=$event"></helper-textbox-password>
          </div>
          <div class="col-12">
            <helper-button entity="Login" label="Login" Type="P"  (click)="onClick($event)"
              id="login-btn"></helper-button>

          </div>
        </div>
        <helper-Error-Tag></helper-Error-Tag>
        <helper-Toast></helper-Toast>
      </form>
    </div>
  </div>
</div>
